body {
	background-color: #d5dbe5;
	margin: 0;
	padding: 0;
	background-image: url("corps.png");
	background-repeat: no-repeat;
	background-position: 520px 100px;
}

h1 {
	text-align: center;
}

span {
	text-decoration: underline;
	font-weight: bold;
}

#generale {
	position: relative;
	border: 2x solid black;
	max-width: 100%;
	max-height: 100%;
	min-width: 0%;
	min-height: 0%;
	margin: 0 auto;
	border: 1px yellow solid;
}

.droite {
	/*border: 1px red solid;*/
	text-align: justify;
	line-height: 20px;
	padding: 1%;
	position: absolute;
	display: block; height: 100%;
	width: 20%;
	height: 50%;
	margin: 50px 700px;
}

span {
	text-align: center;
	font-size: 30px;
}

.texte {
	position: absolute;
	z-index: 10;
	top: 20px;
	display: none;
}

.cercle {
	width: 40px;
    height: 40px;
    border-radius: 20px;
    background: black;
    position: absolute;
    opacity: 0.7;
}

#epaule {
    margin: 110px 520px;
}

#coude {
    margin: 200px 630px;
}

#poignet {
    margin: 240px 515px;
}

#hanche {
    margin: 250px 600px;
}

#genoux {
    margin: 360px 550px;
}

#cheville {
    margin: 450px 590px;
}

#intro {
font-size: 19px;
}